@import '../../styles/variables';

.root {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  div:first-child {
    border-radius: 5px;
  }
}

.hidden {
  display: none;
}

.modalDialog {
  margin: auto;
  width: fit-content;
  max-width: 80%;
  z-index: 1050;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalContent {
  padding: 10px 20px;
}

.backdrop {
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
}

.closeBtn {
  z-index: 1;
  position: absolute;
  right: 5px;
  top: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover {
    svg {
      fill: var(--sui-secondary-color-dark);
    }
  }
}
