.productLink {
  text-decoration: inherit;
  color: inherit;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: block;
}

.cursorPointer {
  cursor: pointer;
}

.productGridItem {
  height: 100%;
}

// Styled classes

.resultItemStyledInGrid {
  box-shadow: none;
}
