.root {
  display: flex;
  .resultList {
    margin-top: 1rem;
  }

  .right {
    width: 100%;
  }

  :global .Sui-FacetFilter--title {
    margin-top: 0;
    margin-bottom: 0;
  }

  :global .Sui-FacetFilter--title-container {
    margin-bottom: 1rem;
    align-items: baseline;
  }

  :global .Sui-ListControls--container {
    justify-content: flex-end;
  }

  :global .price {
    :global .Sui-FacetSection--container {
      :global .SuiInput {
        max-width: 46px;
      }
    }
  }
  :global .Sui-SearchBar--suggestions-container {
    box-shadow: 1px 10px 17px -5px #000000;
    position: absolute;
    max-height: unset;
  }
}
