@import '../../../styles/variables';

.root {
  display: flex;
  justify-content: space-between;
  min-height: 40px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70px;
}

.info {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1.25rem;
}

.title {
  font-weight: 700;
  font-size: 1em;
}

.text {
  font-weight: 700;
  font-size: 0.8em;
}

.actionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: transparent;
  border: none;
  border-left: 1px solid var(--sui-secondary-color-dark);
  max-width: 70px;
  font-size: 0.8em;
  font-weight: 700;
  word-break: break-word;
  min-width: 80px;
  &:hover {
    cursor: pointer;
  }
}

// Styled classes
.styled {
  &.root {
    border-radius: 3px;
  }
  &.success {
    border: 1px solid var(--sui-success-color);
    &.filled {
      background-color: var(--sui-success-color);
    }
    .icon {
      background-color: var(--sui-success-color);
    }
  }

  &.error {
    border: 1px solid var(--sui-danger-color-dark);
    &.filled {
      background-color: var(--sui-danger-color-dark);
    }
    .icon {
      background-color: var(--sui-danger-color-dark);
    }
  }

  &.warning {
    border: 1px solid var(--sui-warning-color);
    &.filled {
      background-color: var(--sui-warning-color);
    }
    .icon {
      background-color: var(--sui-warning-color);
    }
  }
  &.filled {
    color: white;
    .button {
      color: white;
    }
  }
  .icon {
    svg {
      fill: white;
    }
  }
}
