@import '../../../styles/variables';

.showMoreBtn {
  @include button-link;
  margin-top: 0.5rem;
}

.checkboxLabel {
  margin-left: 0.5rem;
  font-size: 0.85rem;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
}

// Styled classes

.styledCheckbox {
  margin: 0;
  padding: 0;
}

.styledCheckboxContainer {
  padding: 0.3rem 0.8rem;
}

.sectionContainerStyled {
  div:first-child {
    padding-top: 0.5rem;
  }
  div:last-child {
    padding-bottom: 0.5rem;
  }
  .showMoreBtn {
    padding-bottom: 0.5rem;
  }
}
