{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 7
  },
  "plugins": [],
  "extends": [],
  "rules": {},
  "globals": {
    "process": true,
    "console": true
  }
}
