@import './slick-theme.scss';
@import './slick.scss';

$image-height-lg: 200px;
$image-height-md: 100px;
$image-height-sm: 50px;

$title-font-size-lg: 2rem;
$title-font-size-md: 1.3rem;
$title-font-size-sm: 1rem;

.carouselItem {
  :global .Sui-CategoryList--title {
    text-align: center;
  }

  :global .Sui-CategoryList--image-container {
    :global .Sui-CategoryList--image {
      object-fit: contain;
    }
  }
  :global .Sui-CategoryList--title {
    margin: 0;
    width: 90%;
    word-break: break-word;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.carouselCategoryContainer {
  margin: 50px;
  :global .slick-arrow:before {
    content: ' ';
    position: absolute;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
  }
  :global(.slick-arrow.slick-next):before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 0;
  }
  :global(.slick-arrow.slick-prev):before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(135deg);
  }
}

.carouselCategoryItemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  padding: 2%;
  overflow: hidden;
  cursor: pointer;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.hidden {
  opacity: 0;
}

.carouselCategoryContainer {
  &:global(.lg) {
    :global .Sui-CategoryList--image {
      height: $image-height-lg;
    }
    :global .Sui-CategoryList--title {
      font-size: $title-font-size-lg;
    }
  }

  &:global(.md) {
    :global .Sui-CategoryList--image {
      height: $image-height-md;
    }
    :global .Sui-CategoryList--title {
      font-size: $title-font-size-md;
    }
    :global(.slick-prev),
    :global(.slick-next) {
      top: 44%;
    }
  }

  &:global(.sm) {
    :global .Sui-CategoryList--image {
      height: $image-height-sm;
    }
    :global .Sui-CategoryList--title {
      font-size: $title-font-size-sm;
    }
    :global(.slick-prev),
    :global(.slick-next) {
      top: 42%;
    }
  }
  :global .slick-track {
    display: flex;
    align-items: center;
  }
}
