.styledNoResults {
  margin: 0;
  background-color: var(--sui-primary-color-light);
  color: white;
  padding: 0.25rem 0.5rem;
  background-color: var(--sui-danger-color);
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}
