@import '../../styles//variables';

$image-width: 75px;

.root {
  display: grid;
  grid-template-columns: fit-content(20%) 3fr 1fr;
  gap: 15px;
  padding: 0.5rem;
}
.title {
  font-size: 1.1rem;
  margin: 0 0 5px 0;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  max-height: 2.8em;
  -webkit-line-clamp: 2;
  word-break: break-word;
}
.text {
  margin: 0;
  font-size: 0.8rem;
}
.productImg {
  max-width: $image-width;
  max-height: $image-width;
}
.imageContainer {
  width: $image-width;
  height: $image-width;
  text-align: center;
  svg {
    width: 100%;
  }
}
.price {
  text-align: right;
}
.vertical {
  grid-template-columns: 1fr;
  justify-items: center;
  border-radius: 5px;
  border: 1px solid var(--sui-secondary-color);
  padding-bottom: 1rem;
  .imageContainer {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .productImg {
    max-width: unset;
    max-height: 100%;
    object-fit: contain;
    width: 100%;
  }
  .title {
    text-align: center;
  }
  .labelContainer {
    padding-top: 0.5rem;
    text-align: center;
  }
  .priceContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p:first-child {
      margin-right: 0.5rem;
    }
  }
}

.rating {
  svg {
    width: 15px;
    color: var(--sui-primary-color);
  }
}

// Styles applied only when user sends styled flag as true
.styledSearchResultItem {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.styledSearchResultItemCurrentPrice {
  color: var(--sui-danger-color);
  font-weight: 700;
  font-size: large;
}

.styledSearchResultItemOldPrice {
  font-size: x-small;
  color: var(--sui-muted-color);
  font-weight: normal;
  text-decoration: line-through;
}
