:root {
  // Colors
  --sui-primary-color: #0071bc;
  --sui-primary-color-light: #8bcbf5;
  --sui-secondary-color: #efefef;
  --sui-secondary-color-light: #f8f9fa;
  --sui-danger-color: #ff5353;
  --sui-muted-color: #6c757d;
  --sui-border-input: #aaa;
  --sui-border-input-hover: #888;

  // Sizes
  --sui-input-height: 2rem;
}
