:root {
  // Colors
  --sui-primary-color: #0071bc;
  --sui-primary-color-light: #8bcbf5;
  --sui-secondary-color: #efefef;
  --sui-secondary-color-light: #f8f9fa;
  --sui-secondary-color-dark: #afafaf;
  --sui-danger-color: #ff5353;
  --sui-danger-color-dark: #ef1725;
  --sui-muted-color: #6c757d;
  --sui-border-input: #aaa;
  --sui-border-input-hover: #888;
  --sui-success-color: #3baf7e;
  --sui-warning-color: #ffb90f;

  --sui-grey-light: #e6e6e6;

  // Sizes
  --sui-input-height: 2rem;
}

@mixin button-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--sui-primary-color);
  &:hover {
    text-decoration: underline;
  }
}
