@import '../../../styles/variables';

.root {
  cursor: pointer;
  position: relative;
  width: fit-content;
}

.title {
  display: flex;
  align-items: center;
  padding-top: 10px;
  svg {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
  }
  h1 {
    font-size: 1rem;
    margin: 0 0 0 5px;
  }
}

.subtitle {
  margin: 0;
  font-size: 0.8rem;
  color: var(--sui-secondary-color-dark);
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popoverContainer {
  height: 0;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  width: 300px;
  &.showPopover {
    height: fit-content;
    max-height: 500px;
  }
}

.counter {
  border-radius: 50%;
  vertical-align: 2px;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  font-weight: 700;
  height: 15px;
  line-height: 15px;
  margin-left: 5px;
  text-align: center;
  width: 15px;
  top: -5px;
  right: 0;
  position: absolute;
  color: black;
}

.iconContainer {
  position: relative;
  overflow: visible;
}

.noDataContainer {
  color: var(--sui-secondary-color-dark);
}

// Styled classes

.styledPopoverContainer {
  transition: max-height 300ms ease-in-out;
}

.styledCounter {
  background-color: var(--sui-primary-color);
  color: #fff;
}
