@import '../../../styles/variables';
@import '../../../styles/buttons';
@import '../../../styles/select';
@import './mixins';
@import './variables';

.root {
  display: flex;
  @media (max-width: $breakpoint) {
    flex-direction: column;
  }
}

.vertical {
  flex-direction: column;
}

.actions {
  display: flex;
  @media (max-width: $breakpoint) {
    flex-direction: column;
  }
}

.actionsVertical {
  flex-direction: column;
}

.styledSearchBtn {
  @include styled-button;
  margin-bottom: 0;
  margin-right: 0.5rem;
  @media (max-width: $breakpoint) {
    @include styled-responsive;
  }
}

.styledSearchBtnVertical {
  @include styled-responsive;
}

.styledClearBtn {
  @include styled-button;
}
