$image-width: 75px;

.root {
  display: grid;
  grid-template-columns: fit-content(20%) 3fr 1fr;
  gap: 15px;
  padding: 0.5rem;
}
.title {
  font-size: 1.1rem;
  margin: 0 0 5px 0;
}
.text {
  margin: 0;
  font-size: 0.8rem;
}
img {
  max-width: $image-width;
  max-height: $image-width;
}
.ImageContainer {
  width: $image-width;
  height: $image-width;
  text-align: center;
}
.price {
  text-align: right;
}
.link {
  color: inherit;
  text-decoration: unset;
}

// Styles applied only when user sends styled flag as true
.StyledSearchResultItem {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.StyledSearchResultItemCurrentPrice {
  color: var(--sui-danger-color);
  font-weight: 700;
  font-size: large;
}

.StyledSearchResultItemOldPrice {
  font-size: x-small;
  color: var(--sui-muted-color);
  font-weight: normal;
  text-decoration: line-through;
}
