.searchBarModal {
  > div:first-child {
    background-color: transparent;
    width: 100%;
    top: 10%;
  }
  :global(.Sui-Modal--content) {
    width: calc(100% - 68px);
  }
  :global(.Sui-SearchBar--suggestions-container) {
    overflow-y: auto;
    position: absolute;
    max-height: calc(100vh - 120px);
    > div:first-child {
      width: calc(100% - 32px);
    }
  }
  :global(.Sui-Modal--close-icon) {
    color: var(--sui-grey-light);
  }
}
