@import '../../../styles/variables';

.root {
  position: relative;
  form {
    display: flex;
    position: relative;
  }
  input {
    width: 100%;
  }
}

.suggestionsContainer {
  overflow-y: auto;
  position: absolute;
  z-index: 999;
  width: 100%;
  background-color: white;
  margin-top: 0.25rem;
}

.clearButton {
  position: absolute;
  right: 0px;
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Styled classes
.specificationStyled {
  table {
    border-collapse: collapse;
    padding-top: 0.5rem;
    tr {
      &:first-child {
        td {
          padding-top: 1rem;
        }
      }
      &:last-child {
        td {
          padding-bottom: 1rem;
        }
      }
    }
    td {
      padding: 0.25rem 0.5rem;
    }
    .leftCol {
      background-color: var(--sui-grey-light);
      min-width: 120px;
    }
  }
  .suggestionsContainer {
    border: 1px solid var(--sui-secondary-color-dark);
  }

  input {
    padding-left: 25px;
  }
  .searchIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #000;
  }
  .notMatches {
    padding-left: 1rem;
  }
}
